.super-mario {
    width:100px;
    position: absolute;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 250px;
  }
  
   .baloon { 
    width: 100px;
    position: absolute;
    left: 300px;
    z-index: 1;
    
  }
  
  .speach {
    font-size: 9px;
    position: absolute;
    left: 305px;
    top: 90px;
    z-index: 2;
      
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    left: 400px;
  }